.main{
    padding: 2rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faction {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.faction p{
    width: 300px;
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.faction button {
    border: none;
    background: transparent;
    font-size: 2rem;
    color: #fff;
    transition: 150ms all ease-in-out;
    cursor: pointer;
}

.faction button:hover{
    color: #a49696;
    transform: scale(1.2);
}
